p {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: Roboto;
}

.font-weight-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.ml-2 {
  margin-left: 16px;
}

.pa-2 {
  padding: 16px;
}
